.singleService{
    width: 60%;
    height:70%;
    margin:20%;
    background-image: linear-gradient(90deg, #48c6ef 0%, #6f86d6 100%);
    border-radius: 20px;
   
    
}
.singleService p{
    font-weight: 500;
    font-size: medium;
    margin: 10px;
}
.singleService img{
   border-radius: 110px;
   width: 100px;
   height: 100px;
}
.singleService h6{
    text-align: left;
    padding: 20px;
}
.btn-isCard{
    background-color: rgb(201, 158, 241);
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5%;
    font-weight: 500;
    color: aliceblue;
}
.btn-isCard:hover{
    background-color:rgb(175, 110, 235) ;
}
