.call-navs{
    display: flex;
}
.call-icon{
    font-size: 30px;
    padding: 5px 10px;
    padding-left: 450PX;
}
.phonenumber{
    text-align: left;
    padding-left: 10px;
}
.navs-logo{
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.opentime-navs{
    display: flex;
}
.clock-icon{
   font-size: 30px;
    padding: 5px 10px; 
}
.opentime{
    text-align: left;
    padding-left: 10px;
}